<html>

<head>	
  
  <title>matra architects: login</title>

</head>

<body>

<%= render partial: 'shared/navbar' %>

<div class="container-fluid" style="margin-top: 3%">

<div class="row">
	<div class="col-sm-6 col-sm-offset-3" style="text-align: center">
        
        <h3 style="color: #7f7f7f">login to your matra account</h3>

		<%= form_for(:session, url: login_path) do |f| %>
          
          <%= f.email_field :email, :placeholder => "enter email", :class => "matrainput" %>
          <%= f.password_field :password, :placeholder => "enter password", :class => "matrainput" %>
          <%= f.submit "login", :class => "matrabtn" %>

		<% end %>
	</div>
</div>

</div>


</body>

</html>
