<div id ="image_<%= image.id %>">  
     
     <% if image.photo_category == "square" %>       
       
       <div class="square-col">
       	 <div class="square">
                <%= link_to image_path(image), :remote => true do %>  
       	 	<%= image_tag image.photo_url, :class => "fitimg" %>
                <% end %>  
       	 </div> 
       </div>

      <% end %> 

      <% if image.photo_category == "landscape" %>
       
       <div class="landscape-col">
       	<div class="landscape">
               <%= link_to image_path(image), :remote => true do %>   		
       	 	<%= image_tag image.photo_url, :class => "fitimg" %>
               <% end %>   
       	 </div> 
       </div>

      <% end %> 

      <% if image.photo_category == "portrait" %>
       
       <div class="portrait-col">
       	<div class="portrait">
               <%= link_to image_path(image), :remote => true do %>                
       	 	<%= image_tag image.photo_url, :class => "fitimg" %>
               <% end %>  
       	 </div> 
       </div>
 
 <% end %>
</div> 