<html>

<head>	
  
  <title><%= @strip.name %></title>

</head>

<body>

<div class="matra-container-nr">
  
  <div class="matra-row" style="text-align: center">

      <div class="matra-col-2">
        <div id="descriptionbox">   
         <div style="padding: 15px">
          <%= simple_format(@project.description) %>
         </div> 
        </div>
      </div> 

      <div class="matra-col-10">
      
        <div class="mainimagebox">

          <div id="mainimagebox">   
      
          <% if @projects.first.images.find_by(:id => @projects.first.cover_id).landscape.present? %>
        
           <div class="mainlandscapebox">
             <%= image_tag @projects.first.images.find_by(:id => @projects.first.cover_id).landscape.photo_url, :class => "fitimg" %>
            </div>         

           <% end %>
      
           <% if @projects.first.images.find_by(:id => @projects.first.cover_id).square.present? %>
         
            <div class="mainsquarebox">
             <%= image_tag @projects.first.images.find_by(:id => @projects.first.cover_id).square.photo_url, :class => "fitimg" %>
            </div>

          <% end %>

          <% if @projects.first.images.find_by(:id => @projects.first.cover_id).portrait.present? %>
         
             <div class="mainportraitbox">
               <%= image_tag @projects.first.images.find_by(:id => @projects.first.cover_id).portrait.photo_url, :class => "fitimg" %>
             </div> 

          <% end %>

         </div>

         </div>

        </div>

       </div>

       </div> 

<div class="matra-container-parent" style="margin-top: 2%">   
  
  <div class="matra-row">

    <div class="arrow-col">
     <div id="arrowbox2">
      <%= render :partial => 'shared/arrowleft' %>
     </div>
    </div>
  

<div class="matra-container-child"> 
   
  <div class="matra-row">

   <div class="heading-col">
      <div class="category">
        <h5 class="categorystrip"><%= @strip.name %></h5>
      </div> 
   </div>  
  
    <div id="images">
      <%= render :partial => 'shared/image', collection: @images %>
    </div>

  </div> 

</div>      

 
 <div class="arrow-col">
	 <div id="arrowbox">
	   	<%= render :partial => 'shared/arrowright' %>
    </div>
 </div>  

  </div>

</div>


</body>

</html>
