<html>

<head>	
  
  <title><%= @strip.name %></title>

  <script type="text/javascript">
   
   $(document).ready(function(){ 

    <% @images.each do |image| %>

    $('#image_<%= image.id %>').hover(
        
        function(){
           $('div.category').html('<h3 class="firstnameshow"><%= image.project.first_name %></h3><h3 class="lastnameshow"><%= image.project.last_name %></h3><p class="yearshow"><%= image.project.yearcompleted %></p><p class="locationshow"><%= image.project.location %></p>');
        },

        function(){
           $('div.category').html('<h3 class="parentcategory"><%= @strip.name %></h3>');
        }
   
      );
    
    <% end %>

   });

  </script>

</head>

<body>

<%= render partial: 'shared/navbar1' %>

<div class="matra-container-nr" style="margin-top: -15px">
  
  <div class="matra-row" style="text-align: center">

      <div class="matra-col-2">
        <div id="descriptionbox">   
         <div style="padding: 15px" id="manipulatedescription">
          <p class="StripName"><%= @strip.name %></p>
          <div id="projectlinks">
          <% @strip.projects.order(:order_id).each do |project| %>
            <%= link_to strip_project_path(project.strip, project) do %>
              <p><%= project.first_name %>&nbsp<%= project.last_name %></p>
            <% end %> 
          <% end %>
          </div>
         </div> 
        </div>
      </div> 

      <div class="matra-col-10">
      
        <div class="mainimagebox">

          <div id="mainimagebox">   
      
          <% if @strip.cover_category == "landscape" %>
        
           <div class="mainlandscapebox">
             <%= image_tag @strip.cover_url, :class => "fitimg" %>
            </div>         

           <% end %>
      
           <% if @strip.cover_category == "square" %>
        
            <div class="mainsquarebox">
             <%= image_tag @strip.cover_url, :class => "fitimg" %>
            </div>

          <% end %>

           <% if @strip.cover_category == "portrait" %>

             <div class="mainportraitbox">
               <%= image_tag @strip.cover_url, :class => "fitimg" %>
             </div> 

          <% end %>

         </div>

         </div>

        </div>

       </div>

       </div> 

<div class="matra-container-parent" style="margin-top: 0.5%">   
  
  <div class="matra-row">

    <div class="arrow-col">
     <div id="arrowbox1">
      <%= render :partial => 'shared/arrowleft' %>
     </div>
    </div>
  

<div class="matra-container-child"> 
   
  <div class="matra-row">

   <div class="heading-col">
      <div class="category">
        <h3 class="parentcategory"><%= @strip.name %></h3>
      </div> 
   </div>  
  
    <div id="images">
      <%= render :partial => 'image', collection: @images %>
    </div>

  </div> 

</div>      

 
 <div class="arrow-col">
	 <div id="arrowbox">
	   	<%= render :partial => 'shared/arrowright' %>
    </div>
 </div>  

  </div>

</div>


</body>

</html>
