<html>

<% content_for :head do %>
	  
  <title>matra architects: publications</title>

  <script type="text/javascript">
  
  $(document).ready(function(){
    
   <% @publications.each_with_index do |publication, i| %>
     
     $("#publication_<%= i %> img").hover( 
      function(){
        $("div.category").html('<h3 class="boldfirstname"><%= publication.first_name %></h3><h3 class="normallastname"><%= publication.last_name %></h3>');
      },
      function(){
      $("div.category").html('<h3 class="parentcategory">publications</h3>');  
      }
      );

   <% end %> 

  });
     
  </script>

<% end %>

<body>

<div class="matra-container-nr">
	
	<div class="matra-row" style="text-align: center">

	   <div class="matra-col-2">
	      
	      <div id="descriptionbox">   
          <div style="padding: 15px" id="manipulatedescription">
            <%= @publications.first.description %>
          </div> 
        </div>
       
       </div>  

       <div class="matra-col-10">
       	 
       	 <div class="mainimagebox">
       	 	<div id="mainimagebox">
       	 	  <% if @publications.first.photo_category == "landscape" %> 
       	 		<div class="mainlandscapebox">
       	 			<%= image_tag @publications.first.photo_url, :class => "fitimg" %>
       	 		</div>
       	 	  <% end %>

       	 	  <% if @publications.first.photo_category == "portrait" %> 
       	 		<div class="mainportraitbox">
       	 			<%= image_tag @publications.first.photo_url, :class => "fitimg" %>
       	 		</div>
       	 	  <% end %>	


       	 	  <% if @publications.first.photo_category == "square" %> 
       	 		<div class="mainsquarebox">
       	 			<%= image_tag @publications.first.photo_url, :class => "fitimg" %>
       	 		</div>
       	 	  <% end %>	

       	 	</div>
       	 </div>

       </div>   

	</div>

</div>


<div class="matra-container-parent" style="margin-top: 2%">
  
  <div class="matra-row">
   
   <div class="arrow-col">
        <div id="arrowbox1">
         <%= render :partial => 'arrowleft' %>
        </div>
    </div>


  <div class="matra-container-child">  
    
   <div class="matra-row">

    <div class="heading-col">
	<div class="category">
		<h3 class="parentcategory">publications</h3>
	</div>
    </div> 
    
    <div id="publications">
      <%= render :partial => 'shared/publication', collection: @publications %>
    </div>

   </div> 

  </div>

  <div class="arrow-col">
     <div id="arrowbox">
      <%= render :partial => 'arrowright' %>
     </div>
  </div>  
  
</div>

</div>

</body>

</html>
