<html>

<head>	
  
  <title>matra architects: admin view</title>

</head>

<body>

<%= render partial: 'shared/navbar' %>

<div class="container-fluid" style="margin-top: 3%">

<div class="row" style="text-align: center">
	      
        <h3 style="color: #7f7f7f">Hello, <%= current_user.first_name %>!</h3>
  
        <h3 style="color: #7f7f7f; margin-top: 3%">administrator view</h3>

        <div class="row" style="margin-top: 4%">
           
           <h4>user administration</h4>
           
           <div class="col-sm-6" id="adminbtn">
             <%= link_to new_user_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              create user
             <% end %>
           </div>

           <div class="col-sm-6" id="adminbtn">
             <%= link_to users_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              view users
             <% end %>
           </div>

        </div>

         <div class="row" style="margin-top: 4%">
           
           <h4>manage strips</h4> 
            
           <div class="col-sm-6" id="adminbtn">
             <%= link_to new_strip_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              create strip 
             <% end %>
           </div>

           <div class="col-sm-6" id="adminbtn">
             <%= link_to strips_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              view strips
             <% end %>
           </div>

        </div>

        <div class="row" style="margin-top: 4%">
           
           <h4>manage archive strips</h4> 
            
           <div class="col-sm-6" id="adminbtn">
             <%= link_to new_archivestrip_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              create strip 
             <% end %>
           </div>

           <div class="col-sm-6" id="adminbtn">
             <%= link_to archivestrips_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              view strips
             <% end %>
           </div>

        </div>


        <div class="row" style="margin-top: 4%">
           
           <h4>manage projects</h4>

           <div class="col-sm-6" id="adminbtn">
             <%= link_to strips_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              create project 
             <% end %>
           </div>

           <div class="col-sm-6" id="adminbtn">
             <%= link_to strips_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              view projects
             <% end %>
           </div>

        </div> 

      <div class="row" style="margin-top: 4%">

         <h4>manage navbar</h4>

          <div class="col-sm-6" id="adminbtn">
             <%= link_to new_destination_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              add destination 
             <% end %>
           </div>


          <div class="col-sm-6" id="adminbtn">
             <%= link_to destinations_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              view destinations 
             <% end %>
           </div>


      </div>

          <div class="row" style="margin-top: 2%">

            <div class="col-sm-6" id="adminbtn">
             <%= link_to new_award_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              add award 
             <% end %>
           </div>

           <div class="col-sm-6" id="adminbtn">
             <%= link_to awards_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              view awards 
             <% end %>
          </div>

         </div>

         <div class="row" style="margin-top: 2%">
            
            <div class="col-sm-6" id="adminbtn">
             <%= link_to new_publication_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              add publication 
             <% end %>
           </div>

           <div class="col-sm-6" id="adminbtn">
             <%= link_to publications_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              view publications 
             <% end %>
           </div>

         </div>
         
         
         <div class="row" style="margin-top: 2%">

           <div class="col-sm-6" id="adminbtn">
             <%= link_to new_officepic_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              add office pic  
             <% end %>
           </div>

           <div class="col-sm-6" id="adminbtn">
             <%= link_to officepics_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              view officepics  
             <% end %>
           </div>

         </div>


         <div class="row" style="margin-top: 2%">

           <div class="col-sm-6" id="adminbtn">
             <%= link_to new_video_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              add video  
             <% end %>
           </div>

           <div class="col-sm-6" id="adminbtn">
             <%= link_to videos_path, :class => "btn matrabtn", :style => "width: 60%" do %>
              view videos  
             <% end %>
           </div>

         </div>

       
</div>

</div>


</body>

</html>
