<html>

<head>	
  
  <title>matra architects: create destination</title>

</head>

<body>

<%= render partial: 'shared/navbar' %>

<div class="container-fluid" style="margin-top: 3%">

<div class="row">
	<div class="col-sm-6 col-sm-offset-3" style="text-align: center">
        
        <h3 style="color: #7f7f7f">create a new travel destination</h3>

		<%= form_for(@travel, :html => { :multipart => true }) do |f| %>
          
          <%= f.text_field :first_name, :placeholder => "enter name", :class => "matrainput" %>
          <%= f.fields_for :travel_photos do |t| %>
            <%= p.file_field :picture, :multiple => true, name: "travel_photos[avatar][]" %>
          <% end %>  
          <%= f.submit "create", :class => "matrabtn" %>

		<% end %>
	</div>
</div>

</div>


</body>

</html>
