<% if officepic.photo_category == "landscape" %>
  <div class="col-landscape">
    <div class="coverbox">
      <div class="coverpic">
        <%= image_tag officepic.photo_url, :class => 'fitlandscape' %>
      </div>
      <div class="setcover">
        <%= link_to officepic_path(officepic), :class => "btn matrabtn", :style => "margin-bottom: 2%", method: :delete do %>
           delete
        <% end %> 
      </div>
    </div>
  </div>
<% end %>
<% if officepic.photo_category == "portrait" %>
  <div class="col-portrait">
    <div class="coverbox">
      <div class="coverpic">
        <%= image_tag officepic.photo_url, :class => 'fitportrait' %>
      </div>  
      <div class="setcover">
        <%= link_to officepic_path(officepic), :class => "btn matrabtn", :style => "margin-bottom: 2%", method: :delete do %>
           delete
        <% end %> 
      </div>
    </div>
  </div> 
<% end %>
<% if officepic.photo_category == "square" %>
  <div class="col-square">
    <div class="coverbox">  
      <div class="coverpic">
        <%= image_tag officepic.photo_url, :class => 'fitsquare' %>
      </div>      
      <div class="setcover">
        <%= link_to officepic_path(officepic), :class => "btn matrabtn", :style => "margin-bottom: 2%", method: :delete do %>
           delete
        <% end %>  
      </div>
    </div>
  </div> 
<% end %>
