<html>

<% content_for :head do %>
	  
  <title>matra architects: videos</title>

   <script type="text/javascript">
  
  $(document).ready(function(){
    
   <% @videos.each_with_index do |video, i| %>
     
     $("#video_<%= i %> img").hover( 
      function(){
        $("div.category").html('<h3 class="boldfirstname"><%= video.first_name %></h3><h3 class="normallastname"><%= video.last_name %></h3>');
      },
      function(){
      $("div.category").html('<h3 class="parentcategory">video</h3>');  
      }
      );

   <% end %> 

  });
     
  </script>

<% end %>

<body>

<%= render partial: 'shared/navbar1' %>

<div class="matra-container-nr" style="margin-top: -15px">
	
	<div class="matra-row" style="text-align: center">

	   <div class="matra-col-2">
	      
	      <div id="descriptionbox">   
          <div style="padding: 15px" id="manipulatedescription">
          </div> 
        </div>
       
       </div>  

       <div class="matra-col-10">
       	 
       	 <div class="mainimagebox">
       	 	<div id="mainimagebox">
       	 	 		<%= video_tag @videos.first.name_url, :class => "fitimg", :controls => true %>
       	 	</div>
       	 </div>

       </div>   

	</div>

</div>


<div class="matra-container-parent" style="margin-top: 0.5%">
  
  <div class="matra-row">

   <div class="arrow-col">
        <div id="arrowbox1">
         <%= render :partial => 'arrowleft' %>
        </div>
    </div>

  <div class="matra-container-child">  
    
   <div class="matra-row">

    <div class="heading-col">
	<div class="category">
		<h3 class="parentcategory">videos</h3>
	</div>
    </div> 
    
    <div id="videos">    
      <%= render :partial => 'shared/video', collection: @videos %>
    </div>

   </div> 

  </div>

  <div class="arrow-col">
     <div id="arrowbox">
      <%= render :partial => 'arrowright' %>
     </div>
  </div>  
  
</div>

</div>


</body>

</html>
