  
  <% if publication.photo_category == "portrait" %>
     
     <div class="portrait-col">
	  <div class="portrait" id="publication_<%= publication_counter %>">
	   <%= link_to publication_path(publication), :remote => true do %>
	  	<%= image_tag publication.photo_url, :class => "fitsquare" %>
	   <% end %>	
	  </div>
	 </div> 	

   <% elsif publication.photo_category == "landscape" %>

     <div class="landscape-col">
	  <div class="landscape" id="publication_<%= publication_counter %>">
	   <%= link_to publication_path(publication), :remote => true do %>
	  	 <%= image_tag publication.photo_url, :class => "fitlandscape" %>
	  	<% end %> 
	  </div>
	 </div> 	

   <% else %>

     <div class="square-col">
	  <div class="square" id="publication_<%= publication_counter %>">
	   <%= link_to publication_path(publication), :remote => true do %>
	  	 <%= image_tag publication.photo_url, :class => "fitsquare" %>
	  	<% end %>  
	  </div>
	 </div> 

   <% end %>

