<div class="col-sm-4">
	<div class="userbox">
		<div class="avatarframe">
			<%= image_tag user.avatar_url, :class => "fitimg" %>
		</div>
		<div id="namebox">
			<%= link_to user_path(user), style: "text-align: center" do %>
			  <p><%= user.first_name %><%= " " %><%= user.last_name %></p>
            <% end %> 
		</div>
	</div>
</div>