<div class="normalheading normal_<%= i %>">
	<div class="categorynormal">
		<h4 class="namenormal"><%= strip.name %></h4>
	</div>
</div>

<% strip.projects.each do |project| %>

<% if project.images.find_by(:id => project.cover_id).landscape.present? %>

<div class="normallandscape">
	<div class="landscapenormal">
	   <%= link_to strip_project_path(project.strip, project) do %> 	
		<%= image_tag project.images.find_by(:id => project.cover_id).landscape.photo_url, :class => "fitlandscape" %>
	   <% end %>      
	</div>
</div>

<% end %>

<% if project.images.find_by(:id => project.cover_id).square.present? %>
   
  <div class="normalsquare"> 
	
	<div class="squarenormal">
		<%= link_to strip_project_path(project.strip, project) do %>
		  <%= image_tag project.images.find_by(:id => project.cover_id).square.photo_url, :class => "fitsquare" %>
		<% end %>      
	</div>

  </div>

<% end %>

<% if project.images.find_by(:id => project.cover_id).portrait.present? %>

<div class="normalportrait">
	<div class="portraitnormal">
		<%= link_to strip_project_path(project.strip, project) do %> 
		  <%= image_tag project.images.find_by(:id => project.cover_id).portrait.photo_url, :class => "fitportrait" %>
		<% end %>      
	</div>
</div>

<% end %>

<% end %>

<div class="matra-arrow">
	<div class="arrownormal">	
        <h4 style="margin-top: 60px"><i class="fa fa-angle-right"></i></h4>
    </div>
</div>
