
<div class="broadheading">
	<div class="categorybroad">
		<h4 class="namebroad"><%= strip.name %></h4>
	</div>
</div>

<% strip.projects.each do |project| %>

<% if project.images.first.landscape.present? %>

<div class="matra-landscape">
	<div class="landscapebroad residence1">
	   <%= link_to strip_project_path(project.strip, project) do %> 	
		<%= image_tag project.images.first.landscape.photo_url, :class => "fitlandscape" %>
	   <% end %>      
	</div>
</div>

<% end %>

<% if project.images.first.square.present? %>

<div class="matra-square">
	<div class="squarebroad residence2">
		<%= link_to strip_project_path(project.strip, project) do %>
		  <%= image_tag project.images.first.square.photo_url, :class => "fitsquare" %>
		<% end %>      
	</div>
</div>

<% end %>

<% if project.images.first.portrait.present? %>

<div class="matra-portrait">
	<div class="portraitbroad residence3">
		<%= link_to strip_project_path(project.strip, project) do %> 
		  <%= image_tag project.images.first.portrait.photo_url, :class => "fitportrait" %>
		<% end %>      
	</div>
</div>

<% end %>

<% end %>

<div class="matra-arrow">
	<div class="arrowbroad">	
        <h4 style="margin-top: 80px"><i class="fa fa-angle-right"></i></h4>
    </div>
</div>