<div class="narrowheading narrow_<%= i %>">
	<div class="categorynarrow category_<%= i %>">
		<h2 class="namenarrow"><%= strip.name %></h2>
	</div>
</div>

<% strip.projects.each_with_index do |project, j| %>

<% if project.images.find_by(:id => project.cover_id).photo_category == "landscape" %>

<div class="narrowlandscape">
	<div class="landscapenarrow" id="narrowphoto_<%= i %><%= j %>">
	   <%= link_to strip_project_path(project.strip, project) do %> 	
		<%= image_tag project.images.find_by(:id => project.cover_id).photo_url, :class => "fitlandscape" %>
	   <% end %>      
	</div>
</div>

<% end %>


<% if project.images.find_by(:id => project.cover_id).photo_category == "square" %>

<div class="narrowsquare">
	<div class="squarenarrow" id="narrowphoto_<%= i %><%= j %>">
		<%= link_to strip_project_path(project.strip, project) do %>
	      <%= image_tag project.images.find_by(:id => project.cover_id).photo_url, :class => "fitsquare" %>
	   <% end %>      
	</div>
</div>

<% end %>

<% if project.images.find_by(:id => project.cover_id).photo_category == "portrait" %>

<div class="narrowportrait">
	<div class="portraitnarrow" id="narrowphoto_<%= i %><%= j %>">
		<%= link_to strip_project_path(project.strip, project) do %> 	  
		  <%= image_tag project.images.find_by(:id => project.cover_id).photo_url, :class => "fitportrait" %>
		<% end %>      
	</div>
</div>

<% end %>

<% end %>

<div class="matra-arrow">
	<div class="arrownarrow" id="arrowlink">
	   <%= link_to strip_path(strip) do %>	
        <h4 style="margin-top: 45px"><i class="fa fa-angle-right"></i></h4>
       <% end %> 
    </div>
</div>
