<div class="broadheading broad_<%= i %>">
	<div class="categorybroad category_<%= i %>">
		<h2 class="namebroad"><%= strip.name %></h2>
	</div>
</div>

<% strip.projects.limit(4).each_with_index do |project, j| %>

<% if project.images.find_by(:id => project.cover_id).photo_category == "landscape" %>

<div class="broadlandscape">
	<div class="landscapebroad" id="broadphoto_<%= i %><%= j %>">
	   <%= link_to strip_project_path(project.strip, project) do %> 	
		<%= image_tag project.images.find_by(:id => project.cover_id).photo_url, :class => "fitlandscape" %>
	   <% end %>      
	</div>
</div>

<% end %>

<% if project.images.find_by(:id => project.cover_id).photo_category == "square" %>

<div class="broadsquare">
	<div class="squarebroad" id="broadphoto_<%= i %><%= j %>">
		<%= link_to strip_project_path(project.strip, project) do %>
		  <%= image_tag project.images.find_by(:id => project.cover_id).photo_url, :class => "fitsquare" %>
		<% end %>      		
	</div>
</div>

<% end %>

<% if project.images.find_by(:id => project.cover_id).photo_category == "portrait" %>

<div class="broadportrait">
	<div class="portraitbroad" id="broadphoto_<%= i %><%= j %>">
		<%= link_to strip_project_path(project.strip, project) do %> 
		  <%= image_tag project.images.find_by(:id => project.cover_id).photo_url, :class => "fitportrait" %>
		<% end %>      
	</div>
</div>

<% end %>

<% end %>

<div class="matra-arrow">
	<div class="arrowbroad" id="arrowlink">
	  <%= link_to strip_path(strip) do %>   	
        <h4 style="margin-top: 99px"><i class="fa fa-angle-right"></i></h4>
      <% end %>  
    </div>
</div>
