
<div class="broadheading broad_<%= i %>">
	<div class="categorybroad">
		<h3 class="namebroad"><%= strip.name %></h3>
	</div>
</div>

<% strip.projects.each do |project| %>

<% if project.images.find_by(:id => project.cover_id).landscape.present? %>

<div class="broadlandscape">
	<div class="landscapebroad">
	   <%= link_to strip_project_path(project.strip, project) do %> 	
		<%= image_tag project.images.find_by(:id => project.cover_id).landscape.photo_url, :class => "fitlandscape" %>
	   <% end %>      
	</div>
</div>

<% end %>

<% if project.images.find_by(:id => project.cover_id).square.present? %>

<div class="broadsquare">
	<div class="squarebroad">
		<%= link_to strip_project_path(project.strip, project) do %>
		  <%= image_tag project.images.find_by(:id => project.cover_id).square.photo_url, :class => "fitsquare" %>
		<% end %>      		
	</div>
</div>

<% end %>

<% if project.images.find_by(:id => project.cover_id).portrait.present? %>

<div class="broadportrait">
	<div class="portraitbroad">
		<%= link_to strip_project_path(project.strip, project) do %> 
		  <%= image_tag project.images.find_by(:id => project.cover_id).portrait.photo_url, :class => "fitportrait" %>
		<% end %>      
	</div>
</div>

<% end %>

<% end %>

<div class="matra-arrow">
	<div class="arrowbroad">	
        <h4 style="margin-top: 80px"><i class="fa fa-angle-right"></i></h4>
    </div>
</div>
