<html>

<head>	
  <title>matra architects</title>

<script type="text/javascript">
  
  $(document).ready(function(){
    
    $(".residence1").hover(function(){

       $(".rcategory").html("s residence")
       }, 
       function() {
       $(".rcategory").html("residence")                   
       } 	
    );
    
    $(".residence2").hover(function(){

       $(".rcategory").html("wood house")
       }, 
       function() {
       $(".rcategory").html("residence")                   
       } 	
    );

    $(".residence3").hover(function(){

       $(".rcategory").html("s residence")
       }, 
       function() {
       $(".rcategory").html("residence")                   
       } 	
    );

    $(".pb1").hover(function(){

       $(".pbcategory").html("khatauli")
       }, 
       function() {
       $(".pbcategory").html("public building")                   
       } 	
    );

    $(".pb2").hover(function(){

       $(".pbcategory").html("chinmaya")
       }, 
       function() {
       $(".pbcategory").html("public building")                   
       } 	
    );

    $(".pb3").hover(function(){

       $(".pbcategory").html("everest")
       }, 
       function() {
       $(".pbcategory").html("public building")                   
       } 	
    );


    $(".i1").hover(function(){

       $(".icategory").html("teil")
       }, 
       function() {
       $(".icategory").html("interior")                   
       } 	
    );

    $(".i2").hover(function(){

       $(".icategory").html("ireo")
       }, 
       function() {
       $(".icategory").html("interior")                   
       } 	
    );


    $(".i3").hover(function(){

       $(".icategory").html("radisson")
       }, 
       function() {
       $(".icategory").html("interior")                   
       } 	
    );1

});

</script>

</head>

<body>

<div class="matra-container" style="margin-top: 3%">

<div class="matra-row">	
	
	<div class="matra-heading">
		<div class="categorybox">
			<h4 class="rcategory">residence</h4>
		</div>
	</div>
	
	<div class="matra-landscape">
		<div class="landscape residence1">
		   <%= image_tag("sresidence3.jpg", :class => "fitlandscape") %>      
		</div>
	</div>
	
	<div class="matra-square">
		<div class="square residence2">
		   <%= image_tag("woodhouse.JPG", :class => "fitsquare") %>      
		</div>
	</div>
	
	<div class="matra-portrait">
		<div class="portrait residence3">
		   <%= image_tag("sresidence.jpg", :class => "fitportrait") %>      
		</div>
	</div>

	<div class="matra-arrow">
	   <div class="arrowbox">	
         <h4 style="margin-top: 60px">></h4>
       </div>
	</div>

</div>

</div>


<div class="matra-container" style="margin-top: 3%">

<div class="matra-row">

	<div class="matra-heading">
		<div class="categorybox">
			<h4 class="pbcategory">public building</h4>
		</div>
	</div>
	
	<div class="matra-landscape">
		<div class="landscape pb1">
		   <%= image_tag("khatauli.jpg", :class => "fitlandscape") %>      
		</div>
	</div>
	
	<div class="matra-square">
		<div class="square pb2">
		   <%= image_tag("chinmaya.JPG", :class => "fitsquare") %>      
		</div>
	</div>
	
	<div class="matra-portrait pb3">
		<div class="portrait">
		   <%= image_tag("everest.JPG", :class => "fitportrait") %>      
		</div>
	</div>


	<div class="matra-arrow">
	   <div class="arrowbox">	
          <h4 style="margin-top: 60px">></h4>
       </div>
	</div>

</div>

</div>

<div class="matra-container" style="margin-top: 3%">

<div class="matra-row">

	<div class="matra-heading">
		<div class="categorybox">
			<h4 class="icategory">interior</h4>
		</div>
	</div>
	
	<div class="matra-landscape">
		<div class="landscape i1">
		   <%= image_tag("teil.jpg", :class => "fitlandscape") %>      
		</div>
	</div>
	
	<div class="matra-square">
		<div class="square i2">
		   <%= image_tag("ireo.jpg", :class => "fitsquare") %>      
		</div>
	</div>
	
	<div class="matra-portrait">
		<div class="portrait i3">
		   <%= image_tag("radisson.jpg", :class => "fitportrait") %>      
		</div>
	</div>


	<div class="matra-arrow">
	   <div class="arrowbox">	
          <h4 style="margin-top: 60px">></h4>
      </div>
	</div>

</div>

</div>


</body>

</html>
