<html>

<head>	
  <title>Matra Architects</title>
</head>


<body>

<div class="container-fluid">

<div class="row">
	<div class="categoryheading">
		<h2>our projects</h2>
	</div>
</div>

</div>

<div class="container-fluid" style="margin-top: 3%">

<div class="matra-row" style="margin-top:3%">	
	
	<div class="matra-heading">
		<div class="categorybox">
			<%= image_tag("residences.jpg", :class => "fitphoto2") %> 
		</div>
	</div>
	
	<div class="matra-landscape">
		<div class="landscape">
		   <%= image_tag("b1.jpg", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-square">
		<div class="square">
		   <%= image_tag("b2.jpg", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-portrait">
		<div class="portrait">
		   <%= image_tag("b3.jpg", :class => "fitphoto") %>      
		</div>
	</div>

</div>

</div>


<div class="container-fluid" style="margin-top: 3%">

<div class="matra-row" style="margin-top: 3%">

	<div class="matra-heading">
		<div class="categorybox">
			<%= image_tag("institutions.jpg", :class => "fitphoto2") %>
		</div>
	</div>
	
	<div class="matra-landscape">
		<div class="landscape">
		   <%= image_tag("i1.jpg", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-square">
		<div class="square">
		   <%= image_tag("i2.jpg", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-portrait">
		<div class="portrait">
		   <%= image_tag("i3.jpg", :class => "fitphoto") %>      
		</div>
	</div>

</div>

</div>


 <div class="container-fluid" style="margin-top: 4%">
    
   <hr style="text-align: center" id="line">
  
  <div class="categoryheading">
		<h2>travelogue</h2>
  </div>

 <div class="row">
 	<div class="col-sm-4">
 		<div class="travelbox">
 		   <div class="tpic">
			 <%= image_tag("tokyo.jpg", :class => "fitphoto") %>  
    	   </div>
    	   <div class="row">
    	   	 <div class="tripheading">
    	   	 	<h3>trip to tokyo</h3>
    	   	 </div>
    	   </div>
    	   	 <div class="col-xs-6">
    	   	 	<div class="profilepic">
    	   	 	  <%= image_tag("veren.jpg", :class => "fitphoto1") %>     
    	   	 	</div>
    	   	 </div>
    	   	 <div class="col-xs-6">
    	   	 	<div class="author">
    	   	 		<h4>veren</h4>
    	   	 	</div>
    	   	 </div>
          </div>
 	</div>
 	<div class="col-sm-4">
 		<div class="travelbox">
 		   <div class="tpic">
			 <%= image_tag("leh.jpg", :class => "fitphoto") %>
			</div> 
			<div class="row">
    	   	 <div class="tripheading">
    	   	 	<h3>leh diaries</h3>
    	   	 </div>
    	   </div>
    	   <div class="col-xs-6">
    	   	  <div class="profilepic">
    	   	  	<%= image_tag("veren.jpg", :class => "fitphoto1") %>     
    	   	  </div>
    	   </div>
    	   <div class="col-xs-6">
    	   	  <div class="author">
    	   	  	<h4>veren</h4>
    	   	  </div>
    	   </div>
 		</div>
    </div>
    <div class="col-sm-4">
    	<div class="travelbox">
    	   <div class="tpic">
			 <%= image_tag("sydney.jpg", :class => "fitphoto") %>  
    	   </div>
    	   <div class="row">
    	   	 <div class="tripheading">
    	   	 	<h3>scintillating sydney</h3>
    	   	 </div>
    	   </div>
    	   <div class="col-xs-6">
    	   	  <div class="profilepic">
    	   	  	<%= image_tag("veren.jpg", :class => "fitphoto1") %>     
    	   	  </div>
    	   </div>
    	   <div class="col-xs-6">
    	   	  <div class="author">
    	   	  	<h4>veren</h4>
    	   	  </div>
    	   </div>
 		</div>
 	</div> 
 </div> 

 </div>


</body>

</html>
