<html>

<head>	
  <title>matra architects</title>
</head>


<body>

<div class="matra-container" style="margin-top: 3%">

<div class="matra-row">	
	
	<div class="matra-heading">
		<div class="categorybox">
			<h3 style="text-align:center; margin-top: 100px; font-weight: 100">residences</h3>
		</div>
	</div>
	
	<div class="matra-landscape">
		<div class="landscape">
		   <%= image_tag("sresidence3.jpg", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-square">
		<div class="square">
		   <%= image_tag("woodhouse.JPG", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-portrait">
		<div class="portrait">
		   <%= image_tag("sresidence.jpg", :class => "fitphoto") %>      
		</div>
	</div>

	<div class="matra-arrow">
	   <div class="arrowbox">	
         <h4 style="margin-top: 60px">></h4>
       </div>
	</div>

</div>

</div>


<div class="matra-container" style="margin-top: 3%">

<div class="matra-row">

	<div class="matra-heading">
		<div class="categorybox">
			<h3 style="text-align:center; margin-top: 100px; font-weight: 100">institutions</h3>
		</div>
	</div>
	
	<div class="matra-landscape">
		<div class="landscape">
		   <%= image_tag("khatauli.jpg", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-square">
		<div class="square">
		   <%= image_tag("chinmaya.JPG", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-portrait">
		<div class="portrait">
		   <%= image_tag("everest.JPG", :class => "fitphoto") %>      
		</div>
	</div>


	<div class="matra-arrow">
	   <div class="arrowbox">	
          <h4 style="margin-top: 60px">></h4>
       </div>
	</div>

</div>

</div>

<div class="matra-container" style="margin-top: 3%">

<div class="matra-row">

	<div class="matra-heading">
		<div class="categorybox">
			<h3 style="text-align:center; margin-top: 100px; font-weight: 100">interiors</h3>
		</div>
	</div>
	
	<div class="matra-landscape">
		<div class="landscape">
		   <%= image_tag("teil.jpg", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-square">
		<div class="square">
		   <%= image_tag("ireo.jpg", :class => "fitphoto") %>      
		</div>
	</div>
	
	<div class="matra-portrait">
		<div class="portrait">
		   <%= image_tag("radisson.jpg", :class => "fitphoto") %>      
		</div>
	</div>


	<div class="matra-arrow">
	   <div class="arrowbox">	
          <h4 style="margin-top: 60px">></h4>
      </div>
	</div>

</div>

</div>


</body>

</html>
