<% if image.photo_category == "landscape" %>
  <div class="col-landscape">
  	<div class="coverbox">
  		<div class="coverpic">
  			<%= image_tag image.photo_url, :class => 'fitlandscape' %>
  		</div>
  		<div class="setcover">
  			<%= link_to image_path(image), :class => "btn matrabtn", :style => "margin-bottom: 2%", method: :delete do %>
  			   delete
  			<% end %> 
        <%= link_to image_editpriority_path(image), :class => "btn matrabtn", :style => "width: 60%" do %>
           edit priority
       <% end %>   
    	</div>
  	</div>
  </div>
<% end %>
<% if image.photo_category == "portrait" %>
  <div class="col-portrait">
  	<div class="coverbox">
  		<div class="coverpic">
  			<%= image_tag image.photo_url, :class => 'fitportrait' %>
  		</div>	
  		<div class="setcover">
  		  <%= link_to image_path(image), :class => "btn matrabtn", :style => "margin-bottom: 2%", method: :delete do %>
      	   delete
  			<% end %> 
       <%= link_to image_editpriority_path(image), :class => "btn matrabtn", :style => "width: 60%" do %>
           edit priority
       <% end %>  
  		</div>
  	</div>
  </div> 
<% end %>
<% if image.photo_category == "square" %>
  <div class="col-square">
  	<div class="coverbox">	
  		<div class="coverpic">
  			<%= image_tag image.photo_url, :class => 'fitsquare' %>
  		</div>  		
  		<div class="setcover">
  		  <%= link_to image_path(image), :class => "btn matrabtn", :style => "margin-bottom: 2%", method: :delete do %>
      	   delete
  			<% end %>  
        <%= link_to image_editpriority_path(image), :class => "btn matrabtn", :style => "width: 60%" do %>
           edit priority
       <% end %>  
  		</div>
  	</div>
  </div> 
<% end %>