<% if image.photo_category == "landscape" %>
  <div class="col-sm-6" style="margin-top: 2%">
  	<div class="coverbox">
  		<div class="coverpic">
  			<%= image_tag image.photo_url, :class => 'fitlandscape' %>
  		</div>
  		<div class="setcover">
  			<%= link_to image_cover_path(image), :class => "btn matrabtn", :style => "margin-bottom: 2%", method: :put do %>
  			   set cover
  			<% end %> 
  		</div>
  	</div>
  </div>
<% end %>
<% if image.photo_category == "portrait" %>
  <div class="col-sm-3" style="margin-top: 2%">
  	<div class="coverbox">
  		<div class="coverpic">
  			<%= image_tag image.photo_url, :class => 'fitportrait' %>
  		</div>	
  		<div class="setcover">
  			<%= link_to image_cover_path(image), :class => "btn matrabtn", :style => "margin-bottom: 2%", method: :put do %>
  			   set cover
  			<% end %>  
  		</div>
  	</div>
  </div> 
<% end %>
<% if image.photo_category == "square" %>
  <div class="col-sm-4" style="margin-top: 2%">
  	<div class="coverbox">	
  		<div class="coverpic">
  			<%= image_tag image.photo_url, :class => 'fitsquare' %>
  		</div>  		
  		<div class="setcover">
  			<%= link_to image_cover_path(image), :class => "btn matrabtn", :style => "margin-bottom: 2%", method: :put do %>
  			   set cover
  			<% end %>  
  		</div>
  	</div>
  </div> 
<% end %>