<div class="matra-row" style="margin-top: 2%">
   
   <div class="ProjectBox">
      
      <div class="row">
        <div class="col-xs-3">
          <h3><%= project.first_name %>&nbsp<%= project.last_name %></h3>
        </div>
        <div class="col-xs-3"> 
          <%= link_to edit_strip_project_path(project.strip, project), :class => "btn matrabtn", :style => "width: 60%" do %>
            edit
          <% end %>
        </div>
        <div class="col-xs-3">
           <%= link_to edit_strip_project_path(project.strip, project), :class => "btn matrabtn", :style => "width: 60%" do %>
            edit pictures
          <% end %> 
        </div>
        <div class="col-xs-3">
          <%= link_to strip_project_path(project.strip, project), :method => "destroy", :class => "btn matrabtn", :style => "width: 60%" do %>
            delete
          <% end %>  
        </div>
      </div>

   </div>

</div>


