<html>

<head>	
  
  <title><%= @project.name %></title>

</head>

<body>

<div class="container-fluid" style="margin-top: 3%">

<div class="col-xs-12" style="text-align:center">
  
 <div id="mainimagebox">
  
  <% if @images.first.square.present? %>
    
  <div class="mainsquarebox">
    <%= image_tag @images.first.square.photo_url, :class => "fitimg" %>
  </div>
    
  <% end %>
    
  <% if @images.first.landscape.present? %>
    
  <div class="mainlandscapebox">
    <%= image_tag @images.first.landscape.photo_url, :class => "fitimg" %>
  </div>
    
  <% end %>
    
  <% if @images.first.portrait.present? %>
    
  <div class="mainportraitbox">
    
    <%= image_tag @images.first.portrait.photo_url, :class => "fitimg" %>
    
  </div>
    
  <% end %>
  
  </div>
  
  </div>

</div>


<div class="matra-container" style="margin-top: 6%">   
  
  <div class="matra-row">

   <div class="heading-col marginleft">
   	  <div class="category">
   	  	<h5 class="categorytext"><%= @project.name %></h5>
        <p class="catdesc">description</p>
   	  </div> 
   </div>
   

  <div id="images"> 
   <%= render :partial => 'shared/image', collection: @images %>
  </div> 
   
   <div class="arrow-col">
	   <div id="arrowbox">
	   	<%= render :partial => 'shared/arrowright' %>
       </div>
	</div>  

  </div>

</div>

</body>

</html>
