<html>

<head>	
  
  <title><%= @project.first_name %><%= " " %><%= @project.last_name %></title>

</head>

<body>

<div class="matra-container">

<div class="matra-row" style="text-align:center">
 
 <div class="matra-col-3">
   <div id="descriptionbox">
   </div>
 </div> 
  
 <div class="matra-col-9">
  
  <div class="mainimagebox">
  
  <div id="mainimagebox">  

  <% if @images.first.square.present? %>
    
  <div class="mainsquarebox">
    <%= image_tag @images.first.square.photo_url, :class => "fitimg" %>
  </div>
    
  <% end %>
    
  <% if @images.first.landscape.present? %>
    
  <div class="mainlandscapebox">
    <%= image_tag @images.first.landscape.photo_url, :class => "fitimg" %>
  </div>
    
  <% end %>
    
  <% if @images.first.portrait.present? %>
    
  <div class="mainportraitbox">
    
    <%= image_tag @images.first.portrait.photo_url, :class => "fitimg" %>
    
  </div>
    
  <% end %>
  
  </div>
  
  </div>

  </div>

  </div>
   
<div class="matra-row" style="margin-top: 2%">

   <div class="heading-col">
   	  <div class="category">
   	  	<h5 class="categorytext"><%= @project.name %></h5>
        <div id="displaydesc">
        <a href="#"><p class="catdesc">description</p></a>
        </div>
   	  </div> 
   </div>
   
  <div id="images"> 
   <%= render :partial => 'shared/image', collection: @images %>
  </div> 
   
   <div class="arrow-col">
	   <div id="arrowbox">
	   	<%= render :partial => 'shared/arrowright' %>
     </div>
	</div>  

  </div>

</div>

</div>

</body>

</html>
