  
  <% if officepic.photo_category == "portrait" %>
     
     <div class="portrait-col">
	  <div class="portrait" id="officepic_<%= officepic_counter %>">
	   <%= link_to officepic_path(officepic), :remote => true do %>
	  	<%= image_tag officepic.photo_url, :class => "fitsquare" %>
	   <% end %>	
	  </div>
	 </div> 	

   <% elsif officepic.photo_category == "landscape" %>

     <div class="landscape-col">
	  <div class="landscape" id="officepic_<%= officepic_counter %>">
	   <%= link_to officepic_path(officepic), :remote => true do %>
	  	 <%= image_tag officepic.photo_url, :class => "fitlandscape" %>
	  	<% end %> 
	  </div>
	 </div> 	

   <% else %>

     <div class="square-col">
	  <div class="square" id="officepic_<%= officepic_counter %>">
	   <%= link_to officepic_path(officepic), :remote => true do %>
	  	 <%= image_tag officepic.photo_url, :class => "fitsquare" %>
	  	<% end %>  
	  </div>
	 </div> 

   <% end %>

