<div class="matra-row" style="margin-top: 4%">

<div class="broadheading" style="width: 12%">
	<div class="categorybroad">
		<h2 class="namebroad">team</h2>
	</div>
</div>

<% @users.each_with_index do |user, i| %>
   
   <% unless user.role == "admin" %>

   <% if user.avatar_category == "portrait" %>
     
     <div class="broadportrait">
	  <div class="portraitbroad">
	  	<%= image_tag user.avatar_url, :class => "fitsquare", :id => "user_<%= i %>" %>
	  </div>
	 </div> 	

   <% elsif user.avatar_category == "landscape" %>

     <div class="broadlandscape">
	  <div class="landscapebroad">
	  	 <%= image_tag user.avatar_url, :class => "fitlandscape", :id => "user_<%= i %>" %>
	  </div>
	 </div> 	

   <% else %>

     <div class="broadsquare">
	  <div class="squarebroad">
	  	 <%= image_tag user.avatar_url, :class => "fitsquare", :id => "user_<%= i %>" %> 
	  </div>
	 </div> 

   <% end %>

  <% end %> 

<% end %>

<div class="matra-arrow">
	<div class="arrowbroad">	
        <h4 style="margin-top: 80px"><i class="fa fa-angle-right"></i></h4>
    </div>
</div>

</div>