<% unless user.role == "admin" %>

   <% if user.avatar_category == "portrait" %>
     
     <div class="portrait-col">
	  <div class="portrait" id="user_<%= user_counter %>">
	  	<%= image_tag user.avatar_url, :class => "fitsquare" %>
	  </div>
	 </div> 	

   <% elsif user.avatar_category == "landscape" %>

     <div class="landscape-col">
	  <div class="landscape" id="user_<%= user_counter %>">
	  	 <%= image_tag user.avatar_url, :class => "fitlandscape" %>
	  </div>
	 </div> 	

   <% else %>

     <div class="square-col">
	  <div class="square" id="user_<%= user_counter %>">
	  	 <%= image_tag user.avatar_url, :class => "fitsquare" %> 
	  </div>
	 </div> 

   <% end %>

<% end %> 

