<html>

<% content_for :head do %>
	  
  <title>matra architects: our team</title>

  <script type="text/javascript">
  
  $(document).ready(function(){
    
   <% @users.each_with_index do |user, i| %>
    
    <% unless user.role == "admin" %>  
     
     $("#user_<%= i %> img").hover(
      function(){
    		$("div.categorybroad").html('<h2 class="nameboldbroad"><%= user.first_name %></h2><h2 class="namebroad"><%= user.last_name %></h2>');
      }, 
      function(){
    	$("div.categorybroad").html('<h2 class="namebroad">team</h2>');  
      }
     );

    <% end %> 

   <% end %> 

  });
     
  </script>

<% end %>

<body>

<div class="container-fluid" style="margin-top: 3%">
  
  <%= render :partial => 'strip' %>
  
  <div style="display: none"> 
   <%= paginate @users, :remote => true %>
  </div> 
  
</div>

</div>


</body>

</html>
