$('#teamarea').html("<%=j render(partial: 'user', collection: @users) %>");
$('#arrowbox1').html("<%=j render(partial: 'arrowleft') %>");

<% if @users.last_page? %>
  $('#arrowbox').hide();
<% else %>
  $('#arrowbox').show();
  $('#arrowbox').html("<%=j render(partial: 'arrowright') %>");
<% end %>


 <% @users.each_with_index do |user, i| %>
    
     $("#user_<%= i %> img").hover( 
      function(){
        $("div.category").html('<h3 class="boldfirstname"><%= user.first_name %></h3><h3 class="normallastname"><%= user.last_name %></h3>');
      },
      function(){
      $("div.category").html('<h3 class="parentcategory">team</h3>');  
      }
      );

 <% end %> 

 <% @users.each_with_index do |user, i| %>

     $("#user_<%= i %> img").hover( 
      function(){
        $("div#manipulatedescription").html('<%= (user.description).html_safe %>');
      },
      function(){
      $("div#manipulatedescription").html('<p></p>');  
      }
      );

 <% end %> 