<html>

<% content_for :head do %>
	  
  <title>matra architects: our team</title>

  <script type="text/javascript">
  
  $(document).ready(function(){
    
   <% @users.each_with_index do |user, i| %>
    
    <% unless user.role == "admin" %>  
     
     $("#user_<%= i %> img").hover( 
      function(){
        $("div.category").html('<h3 class="boldfirstname"><%= user.first_name %></h3><h3 class="normallastname"><%= user.last_name %></h3>');
      },
      function(){
      $("div.category").html('<h3 class="parentcategory">team</h3>');  
      }
      );

    <% end %> 

   <% end %> 

  });
     
  </script>

<% end %>

<body>

<div class="matra-container-nr">
	
	<div class="matra-row" style="text-align: center">

	   <div class="matra-col-2">
	      
	      <div id="descriptionbox">   
          <div style="padding: 15px" id="manipulatedescription">
          </div> 
          </div>
       
       </div>  

       <div class="matra-col-10">
       	 
       	 <div class="mainimagebox">
       	 	<div id="mainimagebox">
       	 		<div class="mainlandscapebox">
       	 			<%= image_tag @users.second.avatar_url, :class => "fitimg" %>
       	 		</div>
       	 	</div>
       	 </div>

       </div>   

	</div>

</div>


<div class="matra-container-parent" style="margin-top: 2%">
  
  <div class="matra-row">

    <div class="arrow-col">
        <div id="arrowbox1">
         <%= render :partial => 'arrowleft' %>
        </div>
    </div>

  <div class="matra-container-child">  
    
   <div class="matra-row">

   <div class="arrow-col">
      <div id="arrowbox">
       <%= render :partial => 'arrowright' %>
      </div>
   </div>   

    <%= render :partial => 'user', collection: @users %>

   </div> 

  </div>

 <div class="arrow-col">
     <div id="arrowbox">
      <%= render :partial => 'arrowright' %>
     </div>
 </div>  
  
</div>

</div>

</body>

</html>
