<div class="heading-col">
  
 <div class="category" id="searchresult"> 
 <%= link_to strip_project_path(project.strip, project) do %>  
  <h3 class="searchprojectfirst"><%= project.first_name %></h3>
  <h3 class="lastbroad"><%= project.last_name %></h3>
  <h3 class="yearbroad"><%= project.yearcompleted %></h3>
  <h3 class="locationbroad"><%= project.location %></h3>
 <% end %>
 </div>

</div>

<% if project.images.find_by(id: project.cover_id).photo_category == "landscape" %>
  
  <div class="landscape-col">

    <div class="landscape">

      <%= link_to strip_project_path(project.strip, project) do %>   		
       	 <%= image_tag project.images.find_by(id: project.cover_id).photo_url, :class => "fitimg" %>
      <% end %>   
   
    </div>

  </div>

  <div class="searchlandscape-col">
     <div class="searchlandscape">
     </div>	
  </div>

<% end %>


<% if project.images.find_by(id: project.cover_id).photo_category == "square" %>
    
   <div class="square-col">

    <div class="square">

      <%= link_to strip_project_path(project.strip, project) do %>   		
       	 <%= image_tag project.images.find_by(id: project.cover_id).photo_url, :class => "fitimg" %>
      <% end %>   
   
    </div>

  </div>

  <div class="searchsquare-col">
     <div class="searchsquare">
     </div>	
  </div>  

<% end %>


<% if project.images.find_by(id: project.cover_id).photo_category == "portrait" %>
     
  <div class="portrait-col">

    <div class="portrait">

      <%= link_to strip_project_path(project.strip, project) do %>   		
       	 <%= image_tag project.images.find_by(id: project.cover_id).photo_url, :class => "fitimg" %>
      <% end %>   
   
    </div>

  </div>

  <div class="searchportrait-col">
    
    <div class="searchportrait">
    </div>

  </div>    

<% end %>	