<div class="heading-col">
  
 <div class="category" id="searchresult"> 
  <%= link_to publications_path do %>  
   <h3 class="searchfirst"><%= publication.first_name %></h3>
   <h3 class="searchlast"><%= publication.last_name %></h3>
  <% end %>
 </div> 

</div>

<% if publication.photo_category == "landscape" %>
  
  <div class="landscape-col">

    <div class="landscape">

      <%= link_to publications_path do %>   		
       	 <%= image_tag publication.photo_url, :class => "fitimg" %>
      <% end %>   
   
    </div>

  </div>

  <div class="searchlandscape-col">
     <div class="searchlandscape">
     </div>	
  </div>

<% end %>


<% if publication.photo_category == "square" %>
    
   <div class="square-col">

    <div class="square">

      <%= link_to publications_path do %>   		
       	 <%= image_tag publication.photo_url, :class => "fitimg" %>
      <% end %>   

    </div>

  </div>

  <div class="searchsquare-col">
     <div class="searchsquare">
     </div>	
  </div>  

<% end %>


<% if publication.photo_category == "portrait" %>     
  
  <div class="portrait-col">

    <div class="portrait">

      <%= link_to publications_path do %>   		
       	 <%= image_tag publication.photo_url, :class => "fitimg" %>
      <% end %>      
   
    </div>

  </div>

  <div class="searchportrait-col">    
    <div class="searchportrait">
    </div>
  </div>    

<% end %>	
