<html>

<% content_for :head do %>
	  
  <title>matra architects: archive</title>

  <script type="text/javascript">
  
  $(document).ready(function(){
    
   <% @archives.each_with_index do |archive, i| %>
     
     $("#archive_<%= i %> img").hover( 
      function(){
        $("div.categorybroad").html('<h2 class="boldheading"><%= archive.first_name %></h2><h2 class="lightheading"><%= archive.last_name %></h2>');
      },
      function(){
      $("div.categorybroad").html('<h2 class="namebroad">archive</h2>');  
      }
      );

   <% end %> 

  });
     
  </script>


<% end %>

<body>

<div class="container-fluid" style="margin-top: 3%">
   
  <%= render :partial => 'strip' %>
  
  <div style="display: none"> 
   <%= paginate @archives, :remote => true %>
  </div> 
  
</div>

</div>


</body>

</html>
