<!DOCTYPE html>
<html>
<head>  
  <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="keywords" content= " Architects in Delhi, Matra, Rurban Planners, Architects, Acrchitects in Navjeevan Vihar ">
    <meta name="author" content="">
    <link rel="icon href="Add Image">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  
</head>
<body>

<%= render partial: 'shared/navbar' %>

<%= yield %>

</body>
</html>
