<!DOCTYPE html>
<html>
<head>  
  <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content= " Architects in Delhi, Matra, Rurban Planners, Architects, Acrchitects in Navjeevan Vihar ">
    <meta name="author" content="">
    <link rel="icon href="Add Image">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  
</head>
<body>

<%= render partial: 'shared/navbar' %>

<div id="wrap">
   <div id="main" class="container clear-top">  
<%= yield %>
    </div>
</div>    

<!-- Footer Starts -->
<footer class="footer">
  <div class="footercont container" style="text-align:center">
  <div class="clearfix">
   <div class="row">
    <div class="col-sm-8">
      <ul class="list-inline">
        <li class="footerlink"><a href="#">archive</a></li>
        <li class="footerlink"><a href="/team">team</a></li>
        <li class="footerlink"><a href="/publication">publication</a></li>
        <li class="footerlink"><a href="/awards">awards</a></li>
        <li class="footerlink"><a href="/travek">travel</a></li>        
        <li class="footerlink"><a href="/contact">contact</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <p style="color: #3c3c3c">©2016 matra architects: all rights reserved</p>
    </div>
  </div>
</div>
 </div>
</footer>

<!-- Footer Ends -->



</body>
</html>
